<div class="main_section_agile">
  <!--  <div class="w3_agile_banner_top">
      <div class="agile_phone_mail">
        <ul class="agile_forms">
          <li><a class="active" href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a> </li>
          <li><a href="#" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up</a> </li>
        </ul>
        <ul>
          <li><i class="fa fa-phone" aria-hidden="true"></i>+(000) 123 456 232</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:education@w3layouts.com">Education@w3layouts.com</a></li>
        </ul>
        <div class="clearfix"> </div>
      </div>
    </div>-->
  <div class="agileits_w3layouts_banner_nav">
    <nav class="navbar navbar-default">
      <div class="navbar-header navbar-left">
      <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>-->
        <h1><a class="navbar-brand" href="index.html"><i>M</i><span>astering</span></a></h1>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <nav class="menu--iris">
          <ul class="nav navbar-nav menu__list">
            <li class="menu__item menu__item--current"><a href="javascript:" class="menu__link" routerLink="/">Home</a></li>
            <li class="menu__item"><a href="javascript:" class="menu__link" routerLink="/data-entry">Data Entry</a></li>
            <li class="menu__item"><a href="javascript:" class="menu__link" routerLink="/gallery">Gallery</a></li>
            <li class="menu__item"><a href="javascript:" class="menu__link" routerLink="/contacts">Contacts</a></li>
            <!-- <li class="menu__item"><a href="services.html" class="menu__link">Services</a></li>
             <li class="dropdown menu__item">
               <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
               <ul class="dropdown-menu agile_short_dropdown">
                 <li><a href="icons.html">Icons</a></li>
                 <li><a href="typography.html">Typography</a></li>
               </ul>
             </li>
             <li class="menu__item"><a href="mail.html" class="menu__link">Mail Us</a></li>-->
          </ul>
       <!--   <div class="w3_agileits_search">
            <form action="#" method="post">
              <input type="search" name="Search" placeholder="Search here..." required="">
              <input type="submit" value=" ">
            </form>
          </div>-->
        </nav>
      </div>
    </nav>
  </div>
</div>
