<div class="banner1">
  <div class="w3_agileits_service_banner_info">
    <h2>Gallery</h2>
  </div>
</div>
<div class="contact">
  <div class="container">
    <h3 class="w3l_header w3_agileits_header">Our <span>Gallery</span></h3>
    <div class="inner_w3l_agile_grids-gal">
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/1.jpg" class="swipebox"><img src="images/1.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/2.jpg" class="swipebox"><img src="images/2.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/3.jpg" class="swipebox"><img src="images/3.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/4.jpg" class="swipebox"><img src="images/4.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>

          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/5.jpg" class="swipebox"><img src="images/5.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>

          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/6.jpg" class="swipebox"><img src="images/6.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/7.jpg" class="swipebox"><img src="images/7.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/8.jpg" class="swipebox"><img src="images/8.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
          </div>
        </a>
      </div>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="images/2.jpg" class="swipebox"><img src="images/2.jpg" class="img-responsive" alt="/">
          <div class="textbox">
            <h4>Mastering</h4>
            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i></p>

          </div>
        </a>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//gallery-->
